/*通用样式，去除外边距*/
* {
  margin: 0;
  padding: 0;
}
/*全局字体*/
body {
  font: 14px/24px "微软雅黑",
    "宋体" '"Helvetica Neue",Helvetica,Arial,sans-serif';
}
/*居中*/
.wp {
  width: 960px;
  margin: 0 auto;
}
/*左浮动*/
.z {
  float: left;
}
/*右浮动*/
.y {
  float: right;
}
/*清除浮动*/
.cl {
  clear: both;
}
/* 清除外边距 */
.mr_0 {
  margin: 0;
}
/* 图片边框 */
.img {
  border: none;
}

/* 第一部分 */
.top {
  width: 100%;
  height: 24px;
  /*居中*/
  line-height: 24px;
  color: #d8d8d8;
  background: #303030;
}
/* 链接间距 */
.top span {
  margin-right: 15px;
}
/* 清除间距 */
.top span.mr_0 {
  margin: 0;
}
/* top超链接的颜色 */
.top a {
  color: #d8d8d8;
  text-decoration: none; /*去下划线*/
}
/* 超链接滑动效果 */
.top a:hover {
  color: #f60;
}

/* logos */
.logos {
  height: 63px;
  margin: 10px 0;
}
/* 搜索 */
.sousuo {
  width: 400px;
  height: 63px;
  margin-top: 6px;
}
.sousuo td {
  height: 44px;
}
.s_z {
  width: 11px;
  background: url(../images/s_z.gif) no-repeat;
}
.s_c {
  width: 240px;
  background: url(../images/s_c.gif) repeat-x;
}
.s_y {
  width: 90px;
  background: url(../images/s_y.gif) no-repeat;
}
.s_c input {
  width: 240px;
  height: 44px;
  line-height: 44px;
  border: none;
  background: url(../images/s_c.gif) repeat-x;
}
.s_y button {
  width: 90px;
  height: 44px;
  background: none;
  border: 0;
  cursor: pointer;
}
/* 电话 */
.dianhua {
  height: 63px;
  line-height: 63px;
}
.dianhua span {
  font-size: 25px;
  color: darkred;
}

/* 导航 */
.nav {
  height: 32px;
  width: 100%;
  background: url(../images/nav_bg.gif) repeat-x;
}
.nav li {
  list-style: none;
  float: left;
  line-height: 32px;
  padding: 0 28px;
}
.nav li.a,
.nav li:hover {
  background: url(../images/nav_hover.gif) repeat-x;
}
.nav a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

/* center部分 */
/* 广告 */
.ad {
  margin-bottom: 10px;
}
/* 中间的标题 */
.tit {
  padding: 8px;
  border-bottom: 1px solid darkred;
  margin-bottom: 10px;
  position: relative;
}
.tit span {
  position: absolute;
  right: 0;
  bottom: 0;
}
.tit a {
  color: darkred;
  text-decoration: none;
}

/* 公司简介 */
.jianjie {
  width: 540px;
  margin-right: 20px;
  height: 320px;
}
.jj_c img {
  float: left;
  margin: 0 10px 0 0;
}
.jj_c p {
  color: #616161;
  text-indent: 28px;
}

/* 行业新闻 */
.xinwen {
  width: 400px;
  height: 320px;
}
.xw_c {
}
.xw_c li {
  list-style: none;
  height: 24px;
  line-height: 24px;
  position: relative;
  padding-left: 15px;
  background: url(../images/list_bg.gif) no-repeat center left;
  marginbotto: 6px;
}
.xw_c span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #888888;
}
.xw_c a {
  color: #616161;
  text-decoration: none;
}
.xw_c h4 {
  font-weight: normal;
}
.xw_c img {
  float: left;
  margin: 0 10px 10px 0;
}
.xw_c p {
  font-size: 11px;
  color: #888888;
  text-indent: 2em;
}
.xw_c li.a {
  background: none;
  padding: 0;
  height: 80px;
}
.xw_c li.img {
  float: left;
  margin: 0 10px 10px 0;
}

/* 热销产品推荐 */
.chanpin {
  width: 100%;
  height: 300;
}
.cp_c {
}
.cp_c li {
  list-style: none;
  float: left;
  margin: 0 10px 10px 0;
  width: 151px;
  height: 96px;
  overflow: hidden;
  position: relative;
}
.cp_c span{
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  height: 20px;
  width: 131;
  padding: 0 10px 0 10px;
  color: #ffffff;
  background: darkred;
  overflow: hidden;
}
.cp_c li a:hover span{
  display:block;
}
.cp_c li img {
  float: left;
}
.cp_c li.mr_0 {
  margin-right: 0;
}

/* 底部 */
.footer{
  height: 103px;
  width: 100%;
  background: url("../images/footer_bg.jpg")
}
.footer_top{
  height: 80px;
  line-height: 80px;
  color:#fff;
}
.footer_top.z{
  font-size: 16px;
}
.footer_top a{
  color:#fff;
  text-decoration: none;
}
.footer_bottom p{
  color: #f60;
}
.footer_bottom a{
  color: #888;
  text-decoration: none;
  margin-right: 10px;
}
.footer_bottom a:hover{
  color: #f60;
}


